.flashlight {
    border-style: solid;
    width: 10em;
}

.message-form {
    padding-bottom: 2em;
}

.show-output {
    display: flex;
    align-content: flex-start;
}

.output-item {
    padding: 1em;
    margin: 1em;
    display: flex;
    align-content: center;
    justify-content: center; 
}